$color-snow: #f9f9f9;
$color-nero: #201f1f;
$color-rich-blue: #5c4eae;
$color-dim-gray: #676767;
$color-white: #ffffff;
$color-melrose: #c5bfed;
$color-galliano: #daa31a;
$color-gin-fizz: #f7edd0;
$color-red-orange: #fb471d;
$color-your-pink: #f7c5ba;
$color-eucalyptus: #309d5b;
$color-medium-sea-green: rgba(51, 172, 100, 0.2);
$color-quartz: #dbd9ee;
$color-revolver: #323142;
$color-manatee:#8e97a6;

$vp-375: 375px;
$vp-768: 768px;
$vp-1024: 1024px;
$vp-1280: 1280px;
$vp-1440: 1440px;
$vp-1920: 1920px;
