.filter-form__group {
  border: none;
  padding: 0;
  margin: 0;
}

.filter-form__group-title {
  padding: 0;
  margin: 0 0 10px 0;

  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}

.filter-form__group-list {
  @include list-style;
}

.filter-form__group--checkbox {
  border: none;

  margin: 0 0 26px;

  & .filter-form__group-title {
    margin: 0 0 19px 0;
  }
}
