.hero__wrapper {
  padding: 58px 21px 411px;
  margin: 0 auto;
  max-width: $vp-375;

  text-align: center;
}

.hero__about-users {
  display: block;

  padding: 0 0 0 46px;
  margin: 0 auto 5px;

  font-size: 9px;
  line-height: 11px;
  letter-spacing: 1.5px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;

  position: relative;

  width: fit-content;

  &::before {
    content: "";
    position: absolute;

    top: 3px;
    left: 0;

    width: 34px;
    height: 1px;

    background-color: $color-nero;
  }
}

.hero__title {
  font-size: 46px;
  line-height: 55px;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: -1.6px;
  font-weight: 600;

  margin: 0 0 16px;

  max-width: 333px;

  &--color {
    color: $color-rich-blue;
  }

  &--mobile-hidden {
    display: none;
  }
}

.hero__description {
  font-family: $ff-inter;
  font-size: 11px;
  line-height: 17px;
  text-align: center;

  color: $color-dim-gray;

  margin: 0 auto 41px;

  max-width: 308px;

  opacity: 0.7;

  &--color {
    color: $color-rich-blue;
  }
}

.hero__buttons {
  display: flex;

  justify-content: center;
  gap: 14px;

  padding: 0 9px 0 0;
  margin: 0 0 26px;
}

.hero__buttons .button--secondary {
  padding: 14px 21px 10px 22px;
}

.hero-image {
  position: relative;

  &::after {
    content: "";
    position: absolute;

    width: 345px;
    height: 299px;

    left: calc(50% + 10px);
    bottom: 65px;

    transform: translateX(-50%);

    background-image: url("../../images/hero-background@2x.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}
