.main-header {
  padding: 0;
}

.main-header__wrapper {
  padding: 106px 32px 0 31px;
  margin: 0 auto;
  max-width: $vp-375;

  position: relative;

  &::after {
    content: "";
    position: absolute;

    bottom: 0;
    left: 50%;

    width: calc(100% - 63px);
    height: 1px;

    transform: translateX(-50%);

    background-color: #cbcbcb;
  }
}

.main-header__logo {
  display: block;
  position: absolute;
  top: 33px;
  left: 31px;
}

.main-header__logo-image {
  display: block;
}
