.raiting {
  display: flex;
  justify-content: center;
  align-items: center;
}

.raiting__wrapper {
  display: flex;
  justify-content: end;
  align-items: center;

  margin: 0 0 0 15px;
}

.raiting__stars {
  display: inline-block;

  width: 81px;
  height: 13px;

  background-image: url("../../images/icons/stack.svg#yellow-star");
  background-size: 16px 14px;

  margin: 3px 0 0;
}

.raiting__amount {
  font-family: $ff-plus-jakarta-sans;
  font-size: 14px;
  line-height: 19px;
  font-weight: 500;

  padding: 6px 0 0 2px;
}
