.top-restaurants__wrapper {
  padding: 84px 30px 66px;
  margin: 0 auto;
  max-width: $vp-375;

  position: relative;

  &::after {
    content: "";
    position: absolute;

    width: calc(100% + 60px);
    height: 1px;

    left: -30px;
    bottom: 0;

    background-color: #cbcbcb;
  }
}

.top-restaurants__list {
  @include list-style;

  margin: 0 0 63px;
}

.top-restaurants__item:not(:last-child) {
  margin: 0 0 40px;
}

.top-restaurants__item:not(:first-child)::before {
  content: "";
  position: absolute;

  top: 0;
  left: 0;

  box-shadow: 5px 0 23px 16px rgba(229, 229, 229, 0.7);

  width: 100%;
  height: 0;
}

.top-restaurants__title {
  margin: 0 0 57px;

  text-transform: capitalize;

  &--color {
    color: $color-rich-blue;
  }
}

.top-restaurants__link {
  color: #acadb9;

  font-size: 20px;
  line-height: 45px;
  letter-spacing: -0.1px;
  text-transform: capitalize;
  text-decoration: none;

  display: flex;
  justify-content: end;

  padding: 0 44px 0 0;

  background-image: url("../../images/icons/stack.svg#gray-arrow");
  background-repeat: no-repeat;
  background-size: 28px 19px;
  background-position: top calc(50% - 3px) right 1px;
}
