.top-dishes__wrapper {
  padding: 85px 0 66px;

  position: relative;

  &::after {
    content: "";
    position: absolute;

    width: calc(100% + 60px);
    height: 1px;

    left: -30px;
    bottom: 0;

    background-color: #cbcbcb;
  }
}

.top-dishes__title {
  max-width: 220px;

  margin: 0 auto 59px;

  &--color {
    color: $color-rich-blue;
  }
}

.top-dishes__list {
  @include list-style;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  grid-gap: 44px 21px;

  margin: 0 0 62px;
}

.top-dishes__item:not(:first-child)::before {
  content: "";
  position: absolute;

  top: 0;
  left: 0;

  box-shadow: 5px 0 23px 16px rgba(229, 229, 229, 0.7);

  width: 100%;
  height: 0;
}

.top-dishes__item:nth-child(2)::before {
  display: none;
}

.top-dishes__link {
  color: #acadb9;

  font-size: 20px;
  line-height: 45px;
  letter-spacing: -0.1px;
  text-transform: capitalize;
  text-decoration: none;

  display: flex;
  justify-content: end;

  padding: 0 44px 0 0;

  background-image: url("../../images/icons/stack.svg#gray-arrow");
  background-repeat: no-repeat;
  background-size: 28px 19px;
  background-position: top calc(50% - 3px) right 1px;
}
